#content{
    height: 1400px;
}
a{
    text-decoration: none!important;
}
#regForm{
    position: absolute;
    top:16%;
    height: 1000px;
    width: 80%;
    right: 5%;
    background-color: aliceblue;
    padding: 60px 50px 30px 50px;
    border: black solid 1px;
}
#formName{
    position: absolute;
    left: 40%;
    font-size: 35px;
    font-family: inherit;
    padding: 90px 0 30px 0;
    color: rgba(61, 61, 61, 0.91);
}
.formElement{
    padding-bottom: 50px;
    height: 20px;
}
.formElement label{
    position: absolute;
    left:30%;
    font-size:20px
}
.formElement input{
    position: relative;
    left: 40%;
    width: 400px;
    font-family: inherit;
    font-size:20px;
}
.formElement input[type=password]{
    width: 220px;
}
.formElement select{
    position: relative;
    left: 40%;
    width: 220px;
    font-family: inherit;
    font-size:20px;
}
/*.formElement input[type=radio]{*/
/*    position: relative;*/
/*    left: 23%;*/
/*    width: 400px;*/
/*    font-family: inherit;*/
/*    font-size:25px;*/
/*}*/
textarea{
    position: relative;
    left: 40%;
    width: 400px;
    font-family: inherit;
    font-size:20px;
    height: 150px;
}
#submitButton{
    position: relative;
    top:50%;
}

.userId{
    width: 220px!important;
}

#psWarning{
    position: relative;
    left: 40%;
}
#sWarning{
    position: relative;
    left: 40%;
}
#sexWarning{
    position: relative;
    left: 30%;
}
#langWarning{
    position: relative;
    left:27%;
}
#idWarning{
    position: relative;
    left: 40%;
}